button {
  width: 100px;
  height: 45px;
  font-size: 20px;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.75);
}

.active {
  background-color: rgb(86, 170, 209);
}
